html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em arial, sans-serif;
  background: #F6F4F0 url(../images/pattern2.jpg);
  color: #47433F;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  padding: 0 0 5px 0;}

h1, h4
{ font: normal 175% "lucida sans unicode", arial;
  margin: 0 0 15px 0;
  padding: 15px 20px 5px 0;}

h2, h5
{ color: #B60000;
  padding: 10px 0 15px 0;
  font: normal 120% arial;}

h3, h6
{ color: #888;
  font: italic 95% arial;
  padding: 0 0 15px 0;}

h4, h6
{ color: #B60000;}

h5
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #A4AA04;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 25px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: url(../images/back.png) repeat-x;
  height: 185px;}

#logo
{ width: 875px;
  position: relative;
  height: 193px;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1
{ font: normal 500% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
  padding: 45px 0 0 0;
  background: transparent;
  color: #FFF;}

#menubar
{ width: 100%;
  height: 46px;
  padding: 0 0 0 4px;
  position: absolute;
  bottom: 0;}

#meniny
{ float: right;
  height: 45px;
  font: normal 105% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
  padding: 0px 0 0 0;
  background: transparent;
  color: #FFF;}

ul#menu
{ float: left;
  height: 40px;
  background: url(../images/menu.png) repeat-x;
  width: auto;}

ul#menu li
{ float: left;
  margin: 6px 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  width: auto;}

ul#menu li a
{ font: normal 100% 'lucida sans unicode', arialserif;
  display: block;
  float: left;
  height: 12px;
  padding: 2px 16px 8px 16px;
  text-align: center;
  background: transparent;
  color: #FFF;
  text-transform: uppercase;
  border-left: 1px solid #FFCB99;
  border-right: 1px solid #ae5a00;
  text-decoration: none;
  width: auto;}

ul#menu li a.first
{ border-left: 0;}

ul#menu li a.last
{ border-right: 0;}

ul#menu li a:hover, ul#menu li.tab_selected a, ul#menu li.tab_selected a:hover
{ color: #111;}

#site_content
{ width: 877px;
  overflow: hidden;
  margin: 20px auto;
  text-align: justify;
  margin-bottom: -33px;
  min-height: 100%;
}

.push {
  height: 33px;
}

.sidebar
{ float: right;
  width: 210px;
  padding: 0 15px 20px 15px;}

.sidebar p
{
  text-align: justify;
}

.sidebar h2
{ padding: 0 0 5px 0;}

.sidebar ul
{ width: 190px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 25px;
  display: block;
  background: transparent url(../images/link.png) no-repeat left center;}

.sidebar li a.selected
{ color: #444;} 

#content
{ text-align: justify;
  width: 610px;
  padding: 0;}

#map{
  margin-left: 250px;
}

#kontakt{
  width: 250px;
  float: left;
}

#footer
{ width: 100%;
  font-family: sans-serif;
  font-size: 90%;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #000000;
  color: #A8AA94;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
}

#footer a, #footer a:hover
{ background: transparent;
  color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ background: transparent;
  color: #FFF;}

.yellow
{ color: #F7C015;}

.blue
{ color: #33A994;}

.orange
{ color: #fe8307;}

.red
{ color: #C80500;}

.purple
{ color: #EB0FFF;}

.green
{ color: #A4AA04;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #63574B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 304px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

.cennik
{
  text-align: center;
  font-size: 24px;
}

table
{ margin: 10px 0 30px 0;
  border: 0;
  width:  900px;
  cellspacing:  20;
  cellpadding:  0;}

table tr td
{ background: rgb(71, 71, 70);
  color: #FFF;
  align: center;
  width: 4px;
  height: 4px;
  padding: 0px 0px;}

table tr th{
  align:center;
  width: 160;
  height: 120;
}

.tsc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

.tsc_decor_img {
  margin: 30px;
  position: relative;
  width: 180px;
  height: 130px;
  float: left;
}

.tsc_decor_img img {
  background: #fefefb;
  border: solid 1px #c9c9c7;
  padding: 4px;
  width:170px;
  height:120px;
}


.tsc_dis_8 span {
  width: 170px;
  height: 120px;
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  background: url("../images/round-corner.png") no-repeat;
}
.tsc_dis_8 img {
  border: none;
  padding: 5px 6px 6px;
  background-image: url("../images/round-bg.gif") no-repeat;
}

#cf img {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  /* if you only want to cycle a finite amount of times,
     simply change 'infinite' with # of iterations you need */
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-direction: alternate; /* not strictly necessary */
  position:absolute;
}

#cf img:nth-of-type(1) {
  animation-delay: 9s;
}

#cf img:nth-of-type(2) {
  animation-delay: 5s;
}

#cf img:nth-of-type(3) {
  /* add some delay for the first picture as well */
  animation-delay: 1s;
}

@keyframes cf3FadeInOut {
  /* distributing times evenly */
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

ul.inner-list {
  list-style-type: square;
}

img.center {
  display: block;
  margin: 0 auto;
}

.tsc_decor_img_flase {
  margin: 20px;
  position: relative;
  width: 180px;
  height: 130px;
  float: left;
}

.tsc_decor_img_flase img {
  background: #fefefb;
  border: solid 1px #c9c9c7;
  padding: 4px;
  width:140px;
  height:135px;
}

.tsc_dis_8_flase span {
  width: 170px;
  height: 120px;
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  background: url("../images/round-corner.png") no-repeat;
}
.tsc_dis_8_flase img {
  border: none;
  padding: 5px 6px 6px;
  background-image: url("../images/round-bg.gif") no-repeat;
}

.popis_img {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.popis_img span{
  font-weight:normal;
}




nav {
  display: block;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}


.nav a {
  display:block;
  background: #111;
  color:#fff;
  text-decoration: none;
  padding: 1.0em 1.8em;
  text-transform: uppercase;
  font-size: 80%;letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}
.nav{
  vertical-align: top;
  display: inline-block;
  box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
  border-radius:6px;
}
.nav li{position: relative;}
.nav > li {
  float:left;
  margin-right: 1px;
}
.nav > li > a {
  margin-bottom:1px;
  box-shadow:inset 0 2em .33em -.5em #555;
}
.nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;}
.nav li:hover > a { color:orange; }
.nav > li:first-child  { border-radius: 4px 0 0 4px;}
.nav > li:first-child>a{border-radius: 4px 0 0 0;}
.nav > li:last-child  {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}
.nav > li:last-child >a{border-radius: 0 4px 0 0; }
.nav li li a { margin-top:1px}


.nav li a:first-child:nth-last-child(2):before {
  content:"";
  position: absolute;
  height:0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right:5px;
}


.nav li {
  list-style-type: none;
  margin: 0 0 6px 0;
  padding: 0 0 0px 0px;
}


/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  #fc7a04;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul {
  /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: orange;
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: orange;
  right: 10px;
}

.active {
  color:orange !important;
}

.square {
  height: 75px;
  width: 75px;
}